mixin Hero
  +Section.bg-dark.text-center.py-9
    p.text-light.fs-1 About
    .col-12.col-md-7.mx-auto
      h1.text-white.fs-lg-7.fs-md-4.fs-3.my-4 We love to make great things, things that matter.
    p.w-md-50.text-light.mx-auto Funding handshake buyer business-to-business metrics iPad partnership. First mover advantage innovator success deployment non-disclosure.