mixin Cta 
  +Section.bg-200#cta
    .row.align-items-center
      .col-lg-6
        h2.fw-bold.text-black Ready to get started?
        p Get an guided demo with an OKR expert.
      .col-lg-6.h-100
        .input-group 
          input(type="text", class="form-control" placeholder='Email Address')
          button.btn.btn-primary.rounded-start-0.px-3(type='submit') Get Started
            