mixin BlogHero
  +Section
    .border-bottom.border-dark.py-7
      p.text-dark.text-center.fs-1 Blog
      h1.text-center.fs-lg-7.fs-md-4.fs-3.text-dark.mb-5 Thoughts and words
      .row.align-items-center.gx-xl-7
        .col-lg-6.text-center
          a(href="#")
            img(src=`${CWD}assets/img/blog/blog-hero.png`, alt="").img-fluid
        .col-lg-6.mt-5.mt-lg-0.text-center.text-lg-start
          .d-flex.align-items-center.justify-content-center.justify-content-lg-start.gap-3
            a(href="#")
              p.fw-bold.mb-0.text-black Category
            p.mb-0 November 22, 2021
          a(href="#")
            h1.fs-xl-6.fs-md-4.fs-3.my-3 Pitch termsheet backing validation focus release.
          .d-flex.align-items-center.justify-content-center.justify-content-lg-start.gap-2
            img(src=`${CWD}assets/img/blog/profile1.png`, alt="").img-fluid
            a(href="#")
              p.mb-0 Chandler Bing